body {
   margin:0;
   padding:0;
   background-color: #D5C8B8;
   color: #193D55;
}

:link {
   color: #E7371A;
}

:visited {
   color: #B03C0D;
}

img {
   margin: 0.5em;
   max-width: 90%;
}

.head {
   background-color: #EAB239;
}

.navigation {
   background-color: #4D7086;
   margin: 0;
   padding: 0.2em;
   word-spacing: 0.5em;
   border-bottom: 1px solid #193D55;
}

.navigation ul {
   margin: 0;
   padding: 0;
}

.navigation li {
   list-style-type: none;
   display: inline;
   font-weight: bold;
}

.navigation :link , .navigation :visited {
  color: #D5C8B8;
}

.body {
    margin-left: 1em;
    margin-right: 1em;
}

.footer {
   color: #D5C8B8;
   background-color: #662B2D;
   text-align: center;
   font-size: 0.8em;
   border-top: 1px solid #193D55;
   margin-top: 1em;
}

#index > ul > li {
   list-style-type: none;
   margin-top: 0.5em;
}
